# Receivers
receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

# Processors
processors:
  batch:
    timeout: 10s
    send_batch_size: 1000

# Exporters
exporters:
  prometheusremotewrite:
    endpoint: https://mimir.example.com/api/v1/push
    auth:
      authenticator: basicauth/remote
    headers:
#      CF-Access-Client-Id: "<MY-ID>"
#      CF-Access-Client-Secret: "<MY-SECRET>"
      X-Scope-OrgID: primary
    resource_to_telemetry_conversion:
      enabled: true

# Pipelines
service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheusremotewrite]
  telemetry:
    metrics:
      readers:
        - pull:
            exporter:
              prometheus:
                host: '0.0.0.0'
                port: 8888

extensions:
  basicauth/remote:
    client_auth:
      username: "<REMOTE_WRITE_USERNAME>"
      password: "<REMOTE_WRITE_PASSWORD>"
